nav{
    background-color: #F1F0F0;
    margin-top: 20px;
    padding: 20px;
}
.split{
    display: flex;
    
}
.left{
    width:20%
}
.right{
    width:80%;
    float: right;
    margin-right: 30px;
}